* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A1B1C;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding: 10px;
  font-size: 240%;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 60%;
  text-align: center;
}

/* INPUT & BUTTON */
.container input, .container button {
  margin: 40px 0;
  padding: 10px 20px;;
  height: 50px;
  background-color: #242424;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 150%;
}

.container button {
  font-weight: bold;
}

.container button:hover {
  cursor: pointer;
  background-color: #292929;
}

.container input:focus, .container button:focus {
  outline: 0;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

/* TO DO & TRASH */
i.show {
  padding: 10px;
  font-size: 150%;
}

#todo-list div:first-child h2.show , #todo-trash div:first-child h2.show {
  float: left;
  padding-left: 15px;
}

#todo-list li, #todo-trash li {
  margin: 0 auto;
  padding: 0 10px;
  height: 50px;
  width: 50%;
  line-height: 50px;
  text-align: left;
  background-color: #242426;
  color: white;
  border-radius: 10px;
  border: 1px solid #1A1B1C;
  font-size: 150%;
}

#todo-list li i , #todo-trash li i {
  margin : 0 10px 0 5px;
}

#todo-list li i:last-child , #todo-trash li i:last-child {
  line-height: 50px;
  float: right;
}

#todo-list div:first-child , #todo-trash div:first-child {
  margin: 10px auto;;
  height: 50px;
  width: 50%;
  line-height: 50px;
}

#todo-list div:first-child i, #todo-trash div:first-child i {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}

/* TO DO LIST */
#todo-list {
  margin-bottom: 100px;
}

#todo-list li i:not(:last-child):hover {
  color: lightgrey;
  background-color: lightgrey;
  border-radius: 50%;
}

#todo-list li i:last-child {
  position: relative;
  bottom: 1px;
  font-size: 90%;
  color: lightgrey;
}

#todo-list i:hover, #todo-list i:last-child:hover {
  color: grey;
  cursor: pointer;
}

/* TRASH */
#todo-trash li i {
  color: lightgrey;
}

#todo-trash i:hover{
  color: grey;
  cursor: pointer;
}

#todo-trash li i:first-child {
  background-color: lightgrey;
  border-radius: 50%;
}

#todo-trash li i:first-child:hover{
  color: white;
  background-color: transparent;
  border-radius: 0;
}
